{% extends 'layout.html' %}
{% block body %}
<style>
    .container{
        width:90%;
        margin-top:-50px;
    }
    li.nav-item {
        margin-top: 68px;
    }
    ul.nav.nav-tabs{
        font-size:18px;
        border-bottom: 2px solid black;
        margin-top: -20px;

    }
    .nav-tabs>li>a{
        margin-right:10px;
        border:1px solid black;
        border-bottom:transparent;
        color: black
    }
    a.nav-link.active{
        background-color:whitesmoke;
    }
    .pointsystem{
        border-style: solid;
        border-bottom-color: transparent;
        font-size:15px;
        font-weight:bold;
        padding:3px 10px 3px 20px;
        text-align:center;
        margin-top:60px;
        display: inline-block;
    }
    li.uobbank {
        margin-top: 13px;
    }
    h3{
        font-weight:bold;
        font-size:27px;
        margin: 65px 35px 0px 35px;
    }
    span.glyphicon.glyphicon-shopping-cart{
        color:black;
        font-size:25px;
        margin: -20px 25px 0px 30px;

    }
    .toptable{
        margin:-10px 0px 0px 50px;
    }
    .search{
        position: relative;
        margin:10px 30px 0px 115px;
    }
    input[type=search]::-webkit-search-cancel-button {
        -webkit-appearance: searchfield-cancel-button;
    }
    #search{
        width: 400px;
        font-size: 16px;
        padding: 10px 20px 12px 40px;
        border: 1px solid black;
        height: 40px;
    }
    .sort {
        font-size: 18px;
        margin: 15px 120px 0px 120px;
    }

    i.glyphicon.glyphicon-search {
        position: absolute;
        padding: 10px;
        pointer-events: none;
    }

    th.text-center {
        border: 1px solid black;
        font-size:18px;
    }

    .info{
        font-size:17px;
    }
    #name{
    font-weight:bold;
    }

    tr.border_bottom td {
      border-bottom:1pt solid black;
    }
    .addtocart{
    background-color: white;
    color: black;
    border:1px solid black;
    padding: 5px 3px;
    margin-top:5px;
    text-align: center;
    width:130px;
    font-size: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
}
    .addtocart:hover {
        background-color: #e7e7e7;
    }

    .pagination {
        display: inline-block;
    }
    .pagination a.hover{
        background-color:grey;
    }
    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        border: 1px solid #ddd;
    }
    .pagination a.active{
        background-color: lightgrey;
    }
    .pagination a:hover{
        background-color: lightgrey;
    }
    #myBtn {
        display: none;
        background-color: black;
        color: white;
        cursor: pointer;
        position: fixed;
        width: 45px;
        height: 45px;
        border-radius: 50px;
        bottom: 20px;
        right: 20px;
        border: none;
        outline: none;
    }

</style>

<script>

function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i;
  input = document.getElementById("search");
  filter = input.value.toUpperCase();
  table = document.getElementById("dining");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}

</script>

<div class="container" >

    <ul class="nav nav-tabs">
      <li class="nav-item" role="presentation">
        <a class="nav-link"  href="/uobrewardtrending">Trending</a></li>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" href="/uobrewardall">All</a></li>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" href="/uobrewardretail">Retail</a></li>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link active" href="/uobrewarddining">Dining</a></li>
      </li>
      <li class="nav-item" >
        <a class="nav-link" href="/uobrewardleisure">Leisure</a></li>
      </li>
      <li role="presentation" class="uobbank">
       <h3>UOB Catalogue</h3>
      </li>
      <li>
          <div  class="pointsystem" >
                <div style="display:inline-block">
                    <p style="margin-bottom:0px;font-size:17px;">
                        Current Point : UNI$5000
                    </p>
                    <p style="padding-right:47px; margin-bottom:0px;  font-size:17px; ">
                        Redeemed Point : 0
                    </p>
                </div>
                <div style="display:inline-block">
                    <p style="text-align:center; margin:0px">
                        <a href="/cart"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                    </p>
                </div>
          </div>
      </li>

    </ul>


    <br>

    <table class="toptable">
        <tr>
            <td style="font-size:17px;">
                <div class="search">

                    <i class="glyphicon glyphicon-search"></i>
                    <input type="search" id="search" onkeyup="myFunction()"  placeholder="Search Reward names">
                </div>
            </td>

             <td style="text-align:center">
                <div class="sort">
                    <label for="sort">Sort:</label>
                                            <select id="Sort" onchange="location = this.value;">
                                                <option name="Reward Name" value="/uobrewarddining" selected="selected">Reward Name</option>
                                                <option name="Points" value="/uobrewarddiningpt">Points</option>
                                            </select>

                </div>
            </td>


        </tr>
    </table>

</div>
    <br>
    <br>
    <table id="dining" class="dining" style="border:1px solid black; width:90%;text-align:center; margin:auto;">

        <tr>
            <col width="20%">
            <col width="20%">
            <col width="22.5%">
            <col width="15%">


            <th class="text-center" colspan="2">Item</th>
            <th class="text-center">Type</th>
            <th class="text-center">Points (UNI$)</th>
            <th class="text-center">Selection</th>
        </tr>
<!--Andersens of Denmark Voucher-->
        <tr class="border_bottom"  style="height:120px;">
            <td class="image">
                <p><img src="static/images/andersenicecream.png" width="180" height="50"></p>
            </td>
            <td class="info" id="name">
                <p>Andersens of Denmark Voucher</p>
            </td>

            <td >
                <p class="info" id="type">$10 Voucher</p>
            </td>
            <td >
                <p class="info" id="points">700 points</p>
            </td>
            <td>
                <p class="uobselection">
                        <label for="quantity">Quantity:</label>
				            <select id="Andersens of Denmark $10 Gift Voucher">
                                <option name="$10 Voucher" value="0" selected="selected">0</option>
                                <option name="$10 Voucher" value="1">1</option>
                                <option name="$10 Voucher" value="2">2</option>
                                <option name="$10 Voucher" value="3">3</option>
                                <option name="$10 Voucher" value="4">4</option>
                                <option name="$10 Voucher" value="5">5</option>
                                <option name="$10 Voucher" value="6">6</option>
                                <option name="$10 Voucher" value="7">7</option>
                                <option name="$10 Voucher" value="8">8</option>
                            </select>
                </p>
                <button class="addtocart" onclick="addtocart13()"><span class="glyphicon glyphicon-shopping-cart" style="margin:0px 6px; font-size:15px; "></span> Add to Cart</button>
            </td>
        </tr>

<!--Bakerzin Voucher-->
        <tr class="border_bottom"  style="height:120px;">
            <td class="image">
                <p><img src="static/images/bazerzin.png" width="160" height="40"></p>
            </td>
            <td class="info" id="name">
                <p>Bakerzin Voucher</p>
            </td>

            <td >
                <p class="info" id="type">$10 Voucher</p>
            </td>
            <td >
                <p class="info" id="points">700 points</p>
            </td>
            <td>
                <p class="uobselection">
                        <label for="quantity">Quantity:</label>
				            <select id="Bakerzin $10 Gift Voucher">
                                <option name="$10 Voucher" value="0" selected="selected">0</option>
                                <option name="$10 Voucher" value="1">1</option>
                                <option name="$10 Voucher" value="2">2</option>
                                <option name="$10 Voucher" value="3">3</option>
                                <option name="$10 Voucher" value="4">4</option>
                                <option name="$10 Voucher" value="5">5</option>
                                <option name="$10 Voucher" value="6">6</option>
                                <option name="$10 Voucher" value="7">7</option>
                                <option name="$10 Voucher" value="8">8</option>
                            </select>
                </p>
                <button class="addtocart" onclick="addtocart14()"><span class="glyphicon glyphicon-shopping-cart" style="margin:0px 6px; font-size:15px; "></span> Add to Cart</button>
            </td>
        </tr>

<!--Breadtalk Voucher-->
        <tr class="border_bottom"  style="height:120px;">
            <td class="image">
                <p><img src="static/images/breadtalk.png" width="160" height="60"></p>
            </td>
            <td class="info" id="name">
                <p>Breadtalk Voucher</p>
            </td>

            <td >
                <p class="info" id="type">$10 Voucher</p>
            </td>
            <td >
                <p class="info" id="points">700 points</p>
            </td>
            <td>
                <p class="uobselection">
                        <label for="quantity">Quantity:</label>
				            <select id="Breadtalk $10 Gift Voucher">
                                <option name="$10 Voucher" value="0" selected="selected">0</option>
                                <option name="$10 Voucher" value="1">1</option>
                                <option name="$10 Voucher" value="2">2</option>
                                <option name="$10 Voucher" value="3">3</option>
                                <option name="$10 Voucher" value="4">4</option>
                                <option name="$10 Voucher" value="5">5</option>
                                <option name="$10 Voucher" value="6">6</option>
                                <option name="$10 Voucher" value="7">7</option>
                                <option name="$10 Voucher" value="8">8</option>
                            </select>
                </p>
                <button class="addtocart" onclick="addtocart15()"><span class="glyphicon glyphicon-shopping-cart" style="margin:0px 6px; font-size:15px; "></span> Add to Cart</button>
            </td>
        </tr>

<!--Din Tai Fung Voucher-->
        <tr class="border_bottom"  style="height:120px;">
            <td class="image">
                <p><img src="static/images/dintaifung.jpg" width="170" height="80"></p>
            </td>
            <td class="info" id="name">
                <p>Din Tai Fung Voucher</p>
            </td>

            <td >
                <p class="info" id="type">$20 Voucher</p>
            </td>
            <td >
                <p class="info" id="points">1930 points</p>
            </td>
            <td>
                <p class="uobselection">
                        <label for="quantity">Quantity:</label>
				            <select id="Din Tai Fung $20 Gift Voucher">
                                <option name="$20 Voucher" value="0" selected="selected">0</option>
                                <option name="$20 Voucher" value="1">1</option>
                                <option name="$20 Voucher" value="2">2</option>
                                <option name="$20 Voucher" value="3">3</option>
                            </select>
                </p>
                <button class="addtocart" onclick="addtocart16()"><span class="glyphicon glyphicon-shopping-cart" style="margin:0px 6px; font-size:15px; "></span> Add to Cart</button>
            </td>
        </tr>

<!--Maki-San Voucher-->
        <tr class="border_bottom"  style="height:120px;">
            <td class="image">
                <p><img src="static/images/makisan.jpg" width="110" height="110"></p>
            </td>
            <td class="info" id="name">
                <p>Maki-San Voucher</p>
            </td>

            <td >
                <p class="info" id="type">$20 Voucher</p>
            </td>
            <td >
                <p class="info" id="points">1300 points</p>
            </td>
            <td>
                <p class="uobselection">
                        <label for="quantity">Quantity:</label>
				            <select id="Din Tai Fung $20 Gift Voucher">
                                <option name="$20 Voucher" value="0" selected="selected">0</option>
                                <option name="$20 Voucher" value="1">1</option>
                                <option name="$20 Voucher" value="2">2</option>
                                <option name="$20 Voucher" value="3">3</option>
                                <option name="$20 Voucher" value="4">4</option>
                                <option name="$20 Voucher" value="5">5</option>
                            </select>
                </p>
                <button class="addtocart" onclick="addtocart17()"><span class="glyphicon glyphicon-shopping-cart" style="margin:0px 6px; font-size:15px; "></span> Add to Cart</button>
            </td>
        </tr>

<!--O Coffee Club Voucher-->
        <tr class="border_bottom"  style="height:120px;">
            <td class="image">
                <p><img src="static/images/ocoffeeclub.jpg" width="200" height="100"></p>
            </td>
            <td class="info" id="name">
                <p>O Coffee Club Voucher</p>
            </td>

            <td >
                <p class="info" id="type">$20 Voucher</p>
            </td>
            <td >
                <p class="info" id="points">1300 points</p>
            </td>
            <td>
                <p class="uobselection">
                        <label for="quantity">Quantity:</label>
				            <select id="O Coffee Club $20 Gift Voucher">
                                <option name="$20 Voucher" value="0" selected="selected">0</option>
                                <option name="$20 Voucher" value="1">1</option>
                                <option name="$20 Voucher" value="2">2</option>
                                <option name="$20 Voucher" value="3">3</option>
                                <option name="$20 Voucher" value="4">4</option>
                                <option name="$20 Voucher" value="5">5</option>
                            </select>
                </p>
                <button class="addtocart" onclick="addtocart18()"><span class="glyphicon glyphicon-shopping-cart" style="margin:0px 6px; font-size:15px; "></span> Add to Cart</button>
            </td>
        </tr>
<!--Paradise Group Voucher-->
        <tr class="border_bottom"  style="height:120px;">
            <td class="image">
                <p><img src="static/images/paradisegroup.jpg" width="180" height="80"></p>
            </td>
            <td class="info" id="name">
                <p>Paradise Group Voucher</p>
            </td>

            <td >
                <p class="info" id="type">$50 Voucher</p>
            </td>
            <td >
                <p class="info" id="points">2700 points</p>
            </td>
            <td>
                <p class="uobselection">
                        <label for="quantity">Quantity:</label>
				            <select id="Paradise Group $50 Gift Voucher">
                                <option name="$50 Voucher" value="0" selected="selected">0</option>
                                <option name="$50 Voucher" value="1">1</option>
                                <option name="$50 Voucher" value="2">2</option>
                            </select>
                </p>
                <button class="addtocart" onclick="addtocart19()"><span class="glyphicon glyphicon-shopping-cart" style="margin:0px 6px; font-size:15px; "></span> Add to Cart</button>
            </td>
        </tr>

<!--Polar Puffs and Cakes Voucher-->
        <tr class="border_bottom"  style="height:120px;">
            <td class="image">
                <p><img src="static/images/polar.jpg" width="170" height="70"></p>
            </td>
            <td class="info" id="name">
                <p>Polar Puffs and Cakes Voucher</p>
            </td>

            <td >
                <p class="info" id="type">$20 Voucher</p>
            </td>
            <td >
                <p class="info" id="points">1600 points</p>
            </td>
            <td>
                <p class="uobselection">
                        <label for="quantity">Quantity:</label>
				            <select id="Polar Puffs and Cakes $20 Gift Voucher">
                                <option name="$20 Voucher" value="0" selected="selected">0</option>
                                <option name="$20 Voucher" value="1">1</option>
                                <option name="$20 Voucher" value="2">2</option>
                                <option name="$20 Voucher" value="3">3</option>
                                <option name="$20 Voucher" value="4">4</option>
                            </select>
                </p>
                <button class="addtocart" onclick="addtocart20()"><span class="glyphicon glyphicon-shopping-cart" style="margin:0px 6px; font-size:15px; "></span> Add to Cart</button>
            </td>
        </tr>

<!--Swensen's Voucher-->
        <tr class="border_bottom"  style="height:120px;">
            <td class="image">
                <p><img src="static/images/swensens.png" width="160" height="50"></p>
            </td>
            <td class="info" id="name">
                <p>Swensen's Voucher</p>
            </td>

            <td >
                <p class="info" id="type">$20 Voucher</p>
            </td>
            <td >
                <p class="info" id="points">1300 points</p>
            </td>
            <td>
                <p class="uobselection">
                        <label for="quantity">Quantity:</label>
				            <select id="Swensen's $20 Gift Voucher">
                                <option name="$20 Voucher" value="0" selected="selected">0</option>
                                <option name="$20 Voucher" value="1">1</option>
                                <option name="$20 Voucher" value="2">2</option>
                                <option name="$20 Voucher" value="3">3</option>
                                <option name="$20 Voucher" value="4">4</option>
                                <option name="$20 Voucher" value="5">5</option>
                            </select>
                </p>
                <button class="addtocart" onclick="addtocart21()"><span class="glyphicon glyphicon-shopping-cart" style="margin:0px 6px; font-size:15px; "></span> Add to Cart</button>
            </td>
        </tr>

<!--TungLok Group Voucher-->
        <tr class="border_bottom"  style="height:120px;">
            <td class="image">
                <p><img src="static/images/tunglok.jpg" width="190" height="100"></p>
            </td>
            <td class="info" id="name">
                <p>TungLok Group Voucher</p>
            </td>

            <td >
                <p class="info" id="type">$20 Voucher</p>
            </td>
            <td >
                <p class="info" id="points">1300 points</p>
            </td>
            <td>
                <p class="uobselection">
                        <label for="quantity">Quantity:</label>
				            <select id="TungLok Group $20 Gift Voucher">
                                <option name="$20 Voucher" value="0" selected="selected">0</option>
                                <option name="$20 Voucher" value="1">1</option>
                                <option name="$20 Voucher" value="2">2</option>
                                <option name="$20 Voucher" value="3">3</option>
                                <option name="$20 Voucher" value="4">4</option>
                                <option name="$20 Voucher" value="5">5</option>
                            </select>
                </p>
                <button class="addtocart" onclick="addtocart22()"><span class="glyphicon glyphicon-shopping-cart" style="margin:0px 6px; font-size:15px; "></span> Add to Cart</button>
            </td>
        </tr>


    </table>
<button onclick="topFunction()" type="button" id="myBtn" title="Back to top"><span class="glyphicon glyphicon-chevron-up"></span></button>

<br>
<br>
<br>
<br>
{% endblock %}
